.events {
  width: 50%;
  margin: 0 auto;
  padding: 35px 0px;

  &__wrapper {
    text-align: center;
  }

  &__create {
    background-color: #ff3b71;
    color: #FFFFFF;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 10px 8px;
    border-radius: 4px;
    border: none;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  }

  &__past {
    background-color:  #ff9f41;
  }

  &__future {
    background-color: #00b0f0;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    margin: 35px 0px;
    h2 {
      text-transform: capitalize;
    }
  }

  &__individual-block {
    padding: 20px 50px;
  }

  &__individual-block:hover {
    cursor: pointer;
  }
}