.events {
  width: 50%;
  margin: 0 auto;
  padding: 35px 0px;

  &__wrapper {
    text-align: center;
  }

  &__create {
    background-color: #FF3B71;
    color: #FAFBFC;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: 'PT Sans', sans-serif;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
  }

  &__past {
    background-color:  #ff9f41;
  }

  &__future {
    background-color: #00b0f0;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    margin: 35px 0px;

    h2 {
      font-family: 'PT Sans', sans-serif;
      color: #FAFBFC;
    }

  }

  &__individual-block {
    padding: 2rem 5rem;
    border-radius: 6px;
    border: none;

  }

  &__individual-block:hover {
    cursor: pointer;
  }
}