.wat-notification {
  border: 1px solid green;
  color: green;
  position: fixed !important;
  right: 5px;
  top: 10px;
  width: 350px;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.notification-header {
  text-transform: capitalize;
}