.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  background-color: #000000;
  padding: 1.5rem 0.5rem
}


.headerMenu a {
  display: inline-block;
  margin: 0 10px ;
  color: #FAFBFC;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.headerMenu a:hover {
  color: #ff9ea0
}