.header {
  display: flex;
  margin: 0 auto;
  width: 100%;
  background-color: #000000;
  padding: 0.5rem 0.5rem;
}

.headerMenu {
  width: 100%;
  padding-top: 20px;

  .page-navs{
    display: flex;
    justify-content: space-between;
  }
}

.headerMenu a {
  display: inline-block;
  margin: 0 10px ;
  color: rgba(255,255,255,0.7) !important;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  font-family: 'PT Sans', sans-serif;
}

.headerMenu a:hover {
  color: #ffffff !important;
  background: none;
  cursor: pointer;
}

.header img {
  width: 95px;
}