.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  font-family: cursive;
  font-size: 1.5rem;
  color: #ff9f41;
  background-color: #000000;
}