.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 16px 0px;
  text-align: center;
  font-family: cursive;
  font-size: 1.5rem;
  color: #ff9f41;
  background-color: #000000;
}