.events-listing {
  display: flex;
  flex-direction: column;
  margin: auto !important;
  width: 80%;
  padding-top: 2%;
}

.events-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  &__heading {
    border: 1px solid #ddd;
    padding: 8px;
  }
}

.events-table tr:nth-child(even){background-color: #f2f2f2;}

.events-table tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

.events-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
