body {
  font-family: 'PT Sans', sans-serif;
}

.App {
  border: 1px solid #000;
  margin: 0 auto;
  height: inherit;
}

.container {
  background-color: #d9e0e7;
  height: 100%;
}

html, body {
  height: 100%;
}

#root {
  height: inherit;
}
